.turbo
.cache
.parcel-cache
.next
dist
build
out
release
dist_electron
dist-electron
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
*.asar
.webpack
.cache/electron-builder
.env
.env.local
.env.*local
.vscode
.idea
/.pnp
/.pnp.js
/.pnp.cjs
node_modules